@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #fcfbfb; 
    color: #333; 
    font-family: 'Noto Sans'; 
    margin: 0;
    padding: 0;
    font-size: 22px;
}
.home-title, .msg h2 {
    font-family: 'Gluten'; 
    font-size: 2em; 
}

.home-title {
margin-top: 10px;

}

body {
    font-family: 'Noto Sans',  sans-serif; 
}

header {
    max-width: 985px; 
    margin: 0 auto;      
    padding: 20px;  
    background-color: rgba(20, 30, 13, 0.7); 
    color: #fff;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

#logo_link {
    padding-top: 5px;
}

.logo {
    max-width: 80px; 
    height: auto;
}

nav {
    text-align: center; /* Center nav links */
}

nav a {
    color: #ffffff; 
    text-align: center;
    padding: 35px;
    text-decoration: none;
}

nav a:hover {
    background-color: #c50e0e; 
    color: #fff; 
}

#hero {
    text-align: center; /* Center hero section */
}

#hero-box {
    margin: 0 auto;
}

#hero-msg h1 {
    color: black; 
    font-family: 'Gluten', 'Comic Sans MS', cursive; 
    font-size: 2em; 
}

#hero-msg h4 {
    color: black; 
    text-align: center; /* Center h4 text */
}

.button-box {
    text-align: center; /* Center button box */
}

.book, .join {
    display: inline-block; /* Allow for width and margin */
    padding: 15px 30px; 
    font-size: 18px; 
    background-color: #d9c2a3; 
    color: #0c0c0c; 
    border-radius: 5px;
    margin: 10px auto; /* Center buttons and add top margin */
    text-decoration: none; 
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}

.book:hover, .join:hover {
    background-color: #e76f51; 
    color: #fff; 
}

main {
    text-align: center; /* Center main section text */
}

section {
    margin: 20px 0; /* Space between sections */
}

.icon {
    width: 80px; 
    height: auto; 
}

.msg {
    max-width: 985px;  
    margin: 0 auto;    
    padding: 35px; 
    background-color: #6f7364; 
    color: #fff; 
    line-height: 1.5em;
}

.msg h2, .msg p {
    color: #ffffff; 
    margin: 0; /* Remove default margins */
}

.msg p {
    padding-bottom: 15px;

}


footer {
    max-width: 955px;  

      
    padding: 25px 50px; 
    background-color: #1d3557; 
    color: #fff;
    margin: 40px auto; 
   
}

footer a {
    color: #ffdd57;
    text-decoration: none;
   
    
}

footer p {
    margin: 15px auto; 
}

footer p a:hover {
    font-weight: bold;           
    font-size: 1.4em
    
  
}

.mountains {
    width: 30%;        
    height: auto;      
    margin: 80px auto; 
    margin-left: -570px; 
}

#background {
    height: 625px;    
    max-width: 1055px;  
    margin: 80px auto;    
    
    background-color: #264653;

}

.social img {

    padding-top: 15px;
}
